@mixin animations($name, $iteration, $timing, $duration, $delay) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  animation-name: $name;
  animation-timing-function: $timing;
}

@mixin multiBrowserAnimation($effect,$args...) {
  #{$effect}: $args;
  -moz-#{$effect}: $args;
  -ms-#{$effect}: $args;
  -o-#{$effect}: $args;
  -webkit-#{$effect}: $args;
}

@mixin colors($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
}

@mixin texts($color, $fs) {
  color: $color;
  font-size: $fs;
}

@mixin buttons($bgColor1, $bgColor2, $bgColor3, $color) {
  background-color: $bgColor1;

  &:hover {
    background-color: $bgColor2;
  }

  &:active {
    @include colors($bgColor3, $color);
  }
}

@mixin box($width, $height: $width){
  height: $height;
  width: $width;
} 

@mixin positions($position, $top:0, $right:0, $bottom:0, $left:0) {
  bottom: $bottom;
  left: $left;
  right: $right;
  position: $position;
  top: $top;
} 