/* Paleta de colores */

$color1: hsl(205, 47%, 26%);
$color2: hsl(205, 49%, 40%);
$color3: hsl(205, 51%, 55%);
$color4: hsl(204, 52%, 72%);

/* Color - elements */
$color-form: hsla(10,10%,90%, 0.9);

/* Color - utility type */
$color-facebook: hsl(214, 89%, 52%);
$color-linkedin: hsl(201, 100%, 35%); 
$color-whatsapp: hsl(133, 73%, 63%);