/* Paleta de colores */

$color1: #234862;
$color2: #357099;
$color3: #5196C6;
$color4: #94C0DD;


/* ###################### Global ###################### */


#app {
  font-family: 'Lato', sans-serif;
  background-color: $color4;
}


header, footer {
  background-color: $color1;
  color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center; 
}


.navbar-light .navbar-nav a.nav-link {
  color: #fff;
}


#footer p {
  margin: 10.5px 0;
}


.navbar ul li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.navbar ul li a:hover {
  color: $color3;
  text-decoration: underline;
}


.table-estudios, .table-turnos {
  background-color: $color3;
}


.ubicacion, .form-container {
  background-color: $color2;
  color: #fff;
}


.logo {
  float: left;
  border: 5px solid #fff;
  margin-top: 10px;
}
 

.logo:hover {  
  animation-name: logo_effect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
}


@keyframes logo_effect {
  0% {
    color: $color1;
    border: 1px solid $color1;
  }

  25% {
    color: $color2;
    border: 3px solid $color2;
  }

  50% {
    color: $color3;
    border: 4px solid $color3;
  }

  75% {
    color: #fff;
    border: 5px solid #fff;
  }
}


.logo i {
  margin: 6px;
}


.social-network {
  width: 97px;
  height: 34px;
  background-color: #fff;
  padding: 2px 3px 0 3px;
  border-radius: 3px;
}


.social-network i:hover {
  transform: scale(1.3);
}


.fa-facebook-square {
  color: #1878F2;
  font-size: 2rem;
}


.fa-whatsapp-square {
  color: #5BE578;
  font-size: 2rem;
}


.fa-linkedin {
  color: #0073B1;
  font-size: 2rem;
}


/* ###################### Inicio ###################### */


.main-article {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-information {
  opacity: 0.5; 
  animation-name: info_effect;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
}


@keyframes info_effect {
 
  0% {
    background-color: $color4;  
  }

  50% {
    background-color: $color2;
  }

  100% {
    background-color: $color1;
  }
}


.main-information h1 {
  margin: 3rem;
  font-size: 42px;
  color: #fff;
}


.about-us {
  background-color: $color2;
  color: #fff;
}


/* ###################### Estudios ###################### */


.estudios-table-container {
  background-color: $color4;
  margin-bottom: 2rem;
}


.estudios-table-container .item {
  background-color: $color3;
}


.estudios-table-container .item:hover {
  background-color: $color2;
  transform: scale(1.05);
  color: #fff;
}

/* 
.estudios-table-container p {
  margin: auto;
}


.estudios-wrapper h1 {
  margin: 40px 0;
}
*/

.estudios-table-container ul li {
  list-style: none;
}


/* ###################### Turnos ###################### */


#turnos-main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}


.consultorio-tables {
  background-color: $color3;
}


.buttons-wrapper {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-column-gap: 0.5rem;
}


#turnos-main h1 {
  margin: 40px 0;
}


/* ###################### Obras Sociales ###################### */


#obras-sociales-main li {
  list-style: none;
}


#obras-sociales-main h1 {
  margin-top: 2rem;
}


.obras-sociales-table {
  display: grid;
  padding-top: 25px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-column-gap: 0.1rem;
  grid-row-gap: 0.1rem;
}


.obras-sociales-table .item {
  text-align: center;
  background-color: $color3;
}


.obras-sociales-table .item ul {
  text-align: center;
  background-color: $color3;
  padding: 0;
}


.obras-sociales-table .item:hover {
  background-color: $color2;
  transform: scale(1.05);
  color: #fff;
}


.obras-sociales-table h4 {
  margin: 1rem 0 2rem 0;
}


/* ###################### Contacto ###################### */



.info p {
  display: inline;
  margin-left: 5px;
}


.info i {
  width: 18px;
  text-align: center;
}


/* ###################### media queries ###################### */


@media only screen and (min-width: 991px) {
  #header .navbar {
    
  }
}


@media only screen and (max-width: 815px) {

  .navbar ul.navbar-list {
    display: none;
  }


  nav.navbar:hover ul.navbar-list {
    position: absolute;
    right: 150px;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    list-style: none;
  }
  
  
  ul.navbar-list li a:hover {
    background-color: $color4;
    text-decoration: none;
  }


  .navbar ul.navbar-list li.item {
    float: left;
  }


  .navbar i {
    margin-right: 50px;
    display: inline-block;
    font-size: 40px;  
  }


  .main-information h1 {
    font-size: 20px;
  }


  .info {
    margin-top: 0px;
  }
}


/* Cambio la estructura del formulario, uso .estudios-mobile-container y saco .estudios-table-container para dispositivos moviles */
@media only screen and (max-width: 510px) {
  
  #footer .item:nth-child(1) {
    display: none;
  }


  .main-information {
    width: 100%;
  }
  
  
  .estudios-table-container {
    display: none;
  }


  .estudios-mobile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  
  .estudios-mobile-container .item {
    border: 1px solid $color4;
    background-color: $color3;    
    padding: 10px;
  }


  .estudios-mobile-container .item h3 {
    margin-bottom: 10px;
  }
}


/* Agrega el efecto de agrandar a las imagenes para dispositivos más grandes y en estudio.html saca la tabla que es para los dispositivos moviles*/
@media only screen and (min-width: 510px) {
  
  .estudios-mobile-container {
    display: none;
  }


  .images-container .item:hover {
    transform: scale(1.1);
  }
}