.social-network {
  

 /*  .social-network__facebook--color {
    @include texts($color-facebook,2rem);
  }
   */
   /* 
  .social-network__whatsapp--color {
    @include texts($color-whatsapp,2rem);
  }
  
  .social-network__linkedin--color {
    @include texts($color-linkedin,2rem);
  } */
}

#footer {
  @include colors($color1,#fff);

  p {
    margin: 10.5px 0;
  }
}


/* Wrapper */
.icon-button {
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
  font-size: 2.0rem;
  border-radius: 2.8rem;
	height: 2.8rem;
	line-height: 2.8rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.8rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.8rem;
	height: 2.8rem;
  margin: -1.4rem;
  border-radius: 2.8rem;
}
.whatsapp span {
	background-color: $color-whatsapp;
}
.facebook span {
	background-color: $color-facebook;
}
.linkedin span {
	background-color: $color-linkedin;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.8rem;
	left: 0;
	line-height: 2.8rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.8rem;
	z-index: 10;
}

.icon-button .icon-whatsapp {
	color: $color-whatsapp;
}
.icon-button .icon-facebook {
	color: $color-facebook;
}
.icon-button .icon-linkedin {
	color: $color-linkedin;
}

.icon-button:hover .icon-whatsapp,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-linkedin {
	color: white;
}