.social-network {
  background-color: #fff;
  border-radius: 3px;
  height: 34px;
  padding: 1px 3px 0 3px;
  width: 97px;
  
  i:hover {
    transform: scale(1.3);
  }
  
  .social-network__facebook--color {
    @include texts($color-facebook,2rem);
  }
  
  .social-network__whatsapp--color {
    @include texts($color-whatsapp,2rem);
  }
  
  .social-network__linkedin--color {
    @include texts($color-linkedin,2rem);
  }
}

#footer {
  @include colors($color1,#fff);

  p {
    margin: 10.5px 0;
  }
}