#footer {
  @include colors($color1,#fff);

  p {
    margin: 10.5px 0;
  }
}
/* Social networks animation */
.icon-button {
	@include box(2.8rem);
	@include multiBrowserAnimation(user-select, none);
	background-color: #fff;
  border-radius: 2.8rem;
	cursor: pointer;
	display: inline-block;
  font-size: 2.0rem;
	line-height: 2.8rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	/* Circle */
	span {
		@include box(0);
		@include positions(absolute, 50%, 0, 0, 50%);
		@include multiBrowserAnimation(transition, all 0.3s);
		border-radius: 0;
		display: block;
		margin: 0;
  }

  &:hover {
	  span {
			@include box(2.8rem);
			border-radius: 2.8rem;
			margin: -1.4rem;
    }
  }
	/* Icons */
	i {
		@include box(2.8rem);
		@include positions(absolute, 0, 0, 0, 0);
		@include multiBrowserAnimation(transition, all 0.3s);
		background: none;
		color: white;
		line-height: 2.8rem;
		z-index: 10;
	}
	
	.icon-whatsapp {
		color: $color-whatsapp;
	}
	
	.icon-facebook {
		color: $color-facebook;
	}
	
	.icon-linkedin {
		color: $color-linkedin;
	}

	&:hover .icon-whatsapp,
	&:hover .icon-facebook,
	&:hover .icon-linkedin {
		color: white;
	}
}

.whatsapp span {
	background-color: $color-whatsapp;
}

.facebook span {
	background-color: $color-facebook;
}

.linkedin span {
	background-color: $color-linkedin;
}