#app {
  background-color: $color4;
  font-family: $font-roboto-slab;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-lato;
  text-align: center; 
}

.table-estudios, .table-turnos {
  background-color: $color3;
}

.contacto, .form-container {
  @include colors($color2,#fff);
}

.sub-icon-lines svg {
  height: 5px;
  width: 100%;
}

.sub-icon-lines i {
  color: $color1;
}

.sub-icon-lines svg line {
  opacity: 0.5;
  stroke: $color1; 
  stroke-width: 5px;
} 

.breadcrumb--color {
  @include colors($color1,#fff);
  margin-bottom: 0;

  a {
    color: #fff;
  }

  .active {
    color: $color4;
  }
}

.icon--size {
  font-size: 32px;
}

.filter-images {
  filter: brightness(80%);
}

.focus-in-expand-fwd {
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand-fwd {
0% {
  letter-spacing: -0.5em;
  transform: translateZ(-800px);
  filter: blur(12px);
  opacity: 0;
}
100% {
  transform: translateZ(0);
  filter: blur(0);
  opacity: 1;
}
}

.article-main .article-line {
  border-top: 2px solid #000;
  width: 80px;
}