.logo {
  border: 5px solid #fff;
  color: #fff;
  float: left;
  height: 62px;
  margin: 0 0 0 32px;

  i {
    margin: 6px;
  }

  &:hover {  
    @include animations(logo_effect,1,ease-in,2s,0s);
  }
}

@keyframes logo_effect {

  $logo_map: ("25%": 0.1px, "50%": 2px, "75%": 4px, "100%": 6px);

  @each $percentage, $border in $logo_map {
    
    #{$percentage} {
      border: $border solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  
}

#header {
  position: absolute;
  width: 100%;
  z-index: 999;
  height: 100%;

  .navbar {
    background-color: rgba(255, 255, 255, 0.5);
  } 
}

#header ul li a {
  color: #000;
} 

#header ul li a.active--color {
  color: #fff;
}
/* ###################### media queries ###################### */

.navbar-animation {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-animation * {
  box-sizing: border-box;
}
.navbar-animation li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.navbar-animation a {
  padding: 0.55em 0;
  color: #000;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.navbar-animation a:before,
.navbar-animation a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navbar-animation a:after {
  right: 8px;
  top: 1px;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #fff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(53, 112, 153, 0.5);
}
.navbar-animation a:hover:before,
.navbar-animation .current a:before {
  opacity: 1;
  width: 100%;
}
.navbar-animation a:hover:after,
.navbar-animation .current a:after {
  max-width: 100%;
}

@include media-breakpoint-down(md) { 
  .mini-navbar ul li{
    width: 250px;
    margin: 0 auto;
  }
 
  .navbar-animation a:after {
    left: 8px;
  } 
 }

 #header .navbar__hamburger--border {
   border: 2px solid rgba(0,0,0,0.5);
 }