.info {
  text-align: center;
  
  p {
    display: inline;
    margin-left: 5px;
  }
}

#contacto-main .breadcrumb--margin {
  margin-bottom: 0;
}

.form-wrapper {

  input, textarea {

    &:hover {
      background-color: $color-form;
    }
  }
}

.contacto {

  ul {
    li {
      list-style: none;
    }
  }
}