.info {
  text-align: center;
  
  p {
    display: inline;
    margin-left: 5px;
  }
}

#contacto-main .breadcrumb--margin {
  margin-bottom: 0;
}

.form-wrapper {

  input, textarea {
    &:hover {
      background-color: $color-form;
      border: 2px solid $color3;
    }
  }

  button.form-wrapper__button--color {
    @include buttons($color4,$color3,$color1,#fff);
  }
}

.contacto ul li {
  list-style: none;
}