.estudios-table-container {
  background-color: $color4;
  margin-bottom: 2rem;
  
  .item {
    background-color: $color3;

    &:hover {
      @include colors($color2,#fff);
      transform: scale(1.05);
    }
  }
  
  ul li {
    list-style: square;
    margin-left: 20px;
  }
}