.menu-filter {
	text-align:center;
  
  .menu-filter__button--colors {
		border-color: $color1;
    color: $color1;
  }
	
  .menu-filter__button--colors:hover {
		@include colors($color1, #fff);
  }
	
  ul li{
		@include multiBrowserAnimation(transition, all .5s ease);
		cursor:pointer;
    display:inline-block;
    list-style:none;
    margin:0;
		padding:10px 15px;
  }
}

.gallery-wrapper .item{
	float:left;
	margin-bottom:10px;
}
/* Circle */
.img-animation {
	
	figure {
		@include box(250px, 156px);
		position: relative;
		margin: 0;
		overflow: hidden;
		padding: 0;
		
		&::before {
			@include box(0);
			@include positions(absolute, 50%, 0, 0, 50%);
			@include multiBrowserAnimation(transform, translate(-50%, -50%));
			background: rgba(81, 150, 198, 0.2);
			border-radius: 100%;
			content: '';
			display: block;
			z-index: 2;
		}

		&:hover::before {
			@include multiBrowserAnimation(animation, circle .75s);
		}
	}
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		@include box(200%);
		opacity: 0;
	}
}

@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		@include box(200%);
		opacity: 0;
	}
}