.obras-sociales-table {

  .item {
    background-color: $color3;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      text-align: center;
    }
    
    &:hover {
      @include colors($color2,#fff);
    }
  }
  
  h4 {
    margin: 3rem 0 2rem 0;
  }
}