.obras-sociales-table {

  .item {
    background-color: $color3;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      text-align: center;
    }
    
    &:hover {
      @include colors($color2,#fff);
      
      .top-return {
        visibility: visible;
      }
    }

    .top-return {
      color: #000;
      visibility: hidden;
    }

    .top-return:hover {
      color: $color1;
    }
  }
  
  h4 {
    margin: 3rem 0 2rem 0;
  }
}

.sub-navbar-wrapper {
  background-color: $color3;

  .sub-navbar {
    list-style: none;

    a {
      background-color: $color2;
      margin: 5px;
    }

    a:hover {
      background-color: $color1;
    }
  }
}