.consultorio-tables {
  background-color: $color3;
}

.form-container {

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.7);
  }

  input, select {

    &:hover {
      background-color: $color-form;
      border: 2px solid $color3;
    }
  }

  .form-group__button--colors {
    @include buttons($color4,$color3,$color1,#fff);
  } 
}